<!-- Se mantiene el código de los ejemplos anteriores comentado -->
<!--<div class="container content">
  <div class="row">
-->    <!-- 
         Se recorre la lista de destinos de viaje. Se establece la variable 
         "nombre" de "destino-viaje-component.ts" (ya que está anotada con 
         "@Input()") al valor seleccionado en cada iteración del *ngFor (destino).
    -->
<!--<p>Destinos:</p>
    <app-destino-viaje *ngFor="let destino of destinos" [nombre]="destino"></app-destino-viaje>

    <hr class="mt-3 mb-3">
-->
    <!-- Lo mismo pero usando una lista. -->
<!--<div>
      <p>Listado de destinos:</p>
      <ul>
        <li *ngFor="let destino of destinos">
          <app-destino-viaje [nombre]="destino" class="d-block"></app-destino-viaje>
        </li>
      </ul>
    </div>
  </div>
</div>
-->

<div class="container content">
  <div  class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form card login with validation feedback -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <!-- 
                   "#nombre" indica una variable de plantilla, es decir, que en
                   el resto de la plantilla se podrá usar una variable "nombre" 
                   que represente al objeto DOM que referencia a este "input".
              -->
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
            </div>
            <div class="form-group">
              <label for="Imagen Url">Imagen Url</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
            </div>
            <!-- 
                 "(click)" es un manejador para el evento "click", que llama a 
                 la funcion "guardar()" de "lista-destinos.component.ts".
            -->
            <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-5">

  <div class="row">
    <!-- 
         '[destino]="dest"' guarda en la variable "destino" del componente 
         "destino-viaje.component" el valor de la iteración actual ("dest") 
         sobre la lista de destinos ("destinos").
    -->
    <app-destino-viaje *ngFor="let dest of destinos" [destino]="dest"></app-destino-viaje>
  </div>	
</div>

