<div class="container content">
  <div  class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form card login with validation feedback -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
        <!-- 
          Ahora el formulario va en el componente FormDestinoViaje, por lo 
          que se comenta.
        -->
        <!--
          <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
        -->
              <!-- 
                   "#nombre" indica una variable de plantilla, es decir, que en
                   el resto de la plantilla se podrá usar una variable "nombre" 
                   que represente al objeto DOM que referencia a este "input".
              -->
        <!--
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
            </div>
            <div class="form-group">
              <label for="Imagen Url">Imagen Url</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
            </div>
        -->
            <!-- 
                 "(click)" captura la ocurrencia de un evento "click" y llama 
                 a la funcion "guardar()" de "lista-destinos.component.ts".
            -->
        <!--
            <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
          </form>
        -->
        <!-- 
          El formulario ahora se obtiene del componente FormDestinoViaje. 
          Cuando se añade un nuevo destino de viaje desde el componente 
          formulario, se emite el evento "onItemAdded", que se captura aquí y 
          llama a la función "agregar($event)", pasándole el destino de viaje 
          a añadir.
        -->
        <app-form-destino-viaje (onItemAdded)="agregar($event)"></app-form-destino-viaje>
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-5">

  <div class="row">
    <!-- 
         '[destino]="dest"' guarda en la variable "destino" del componente 
         "destino-viaje.component" el valor de la iteración actual ("dest") 
         sobre la lista de destinos ("destinosApiClient.getAll()").
         Se guarda, también, en la variable "posicion" del componente 
         "destino-viaje.component" el número de iteración actual (index), 
         sumándole 1 porque comienza en 0. La variable en el componente es 
         "posicion" pero en el "@Input" está renombrada como "indice", por 
         lo que en las plantillas, al definir su valor, hay que usar "indice".
         Cuando se captura el evento "clicked" (definido en el componente 
         "destino-viaje") se llama a una función, pasándole como argumento 
         el destino actual en el *ngFor. Es equivalente tanto pasar a esta 
         función el argumento del destino actual ("dest") como pasar el 
         elemento especial "$event", el cual se corresponde con el elemento 
         que, en el código, se envía al lanzar el evento, en este caso 
         "this.destino" o, lo que es lo mismo, el "dest" actual del *ngFor 
         porque se está pasando el valor "dest" al "@Input() destino" 
         ([destino]="dest"). Por lo tanto, se podría haber puesto 
         '(clicked)="elegir($event)"'.
         Si se captura el evento "borrarDestinoEvent", se llama a la función 
         que realiza el proceso de borrado del destino que se ha elegido 
         borrar.
    -->
    <app-destino-viaje 
            *ngFor="let dest of destinosApiClient.getAll(); let idx = index" 
            [destino]="dest"
            [indice]="idx + 1"
            (clicked)="elegido(dest)"
            (borrarDestinoEvent)="borrarDestino(dest)">
    </app-destino-viaje>
  <!-- 
    Como ya no se usa la lista de destinos en ListaDestinosComponent, 
    sino DestinosApiClient, se comenta esta versión antigua.
  -->
  <!--
    <app-destino-viaje 
            *ngFor="let dest of destinos; let idx = index" 
            [destino]="dest"
            [indice]="idx + 1"
            (clicked)="elegido(dest)">
    </app-destino-viaje>
  -->
  </div>

  <hr class="mb-5">

  <div class="row">
    <h5>Seleccionados:</h5>
    <ul>
      <li *ngFor="let u of updates;">{{u}}</li>
    </ul>
  </div>	
</div>
